<h1>Hello, Rails!</h1>
<p>Please click on the following link to proceed:</p>

<ul>
  <li><%= link_to 'List all articles', controller: 'articles' %></li>
  <li><%= link_to 'Create new article', controller: 'articles', action: 'new' %></li>

</ul>


